body {
  background-image: url(../images/cypto2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  background-color: black;
  opacity: 70%;
}

.article-container {
  height: 500px;
  overflow-x: scroll;
}

.backgroundContainer,
.backgroundContainer2 {
  margin: 20px;
  padding: 5px;
  background-color: black;
  opacity: 90%;
  border: 2px rgb(98, 0, 255) solid;
}

.cardHeight {
  max-height: 50vh;
}

.hero-body {
  align-items: self-start !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.has-text-warning,
.cryptoName,
.cryptoValue,
.time-date {
  text-align: center;
}

section.container,
section.backgroundContainer,
section.backgroundContainer2 {
  align-self: baseline;
  justify-content: center;
  flex-wrap: wrap;
  flex: content;
  flex-direction: row;
}
