body {
    background-image: url(../images/cypto2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: black;
    opacity: 70%;
}


.backgroundContainer {
    margin: 5px;
    padding: 5px;
    background-color: black;
    opacity: 70%;
    border: 2px rgb(98, 0, 255) solid;
}

.hero-body {
    align-items: self-start !important;
}